.card {
  width: calc(290 / 500 * 100%);
  box-shadow: 10px 0px 25px -10px #777777;
  border-radius: 20px;
  background:#ffffff;
}

.cardName{
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cardInfo{
  text-align: center;
}