#root {
  text-align: center;
  width: 100%;
  /* height: 100vh; */
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn button {
  padding: 13px 32px;
  background-color: #f4ff5f;
  border: none;
  box-shadow: 10px 0px 25px -10px #777777;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  transform: translateY(5px);
  box-shadow: none;
}
